@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400;1,900&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

/*-----Root variable______*/

:root {
    --colour-primary: #7380ec;
    --colour-danger: #e9719f;
    --colour-success: hsl(147, 76%, 69%);
    --colour-warning: #d6d85d;
    --colour-white: #e3e3e9;
    --colour-info-dark: #acb2e4;
    --colour-info-light: #c5c6ce;
    --colour-dark: #d5d5db;
    --colour-light: rgba(132, 139, 200, 0.18);
    --colour-primary-variant: #111e88;
    --colour-dark-variant: #afb0c0;
    --colour-background: #f2f2f5;

    --colour-secondary: #3d3d3f;

    --card-border-radius: 2rem;
    --border-radius-1: 0.2rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 2rem;

    --box-shadow: 0 2rem 3rem var(--colour-light);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px; 
}

body {
    width: 100vw;
    height: 100vw;
    font-family: poppins, sans-serif;
    background-color: var(--colour-background);
    user-select: none;
    overflow: hidden;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    background:none;
     gap: 1.8rem;
    grid-template-columns:  14rem auto 23rem;
}

a {
    color: var(--colour-dark);
}

img{
    display: block;
     width: 100%; 
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;

}

h5 {
    font-size: 0.77;

}

small {
    font-size: 0.75;
}

.profile-img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--colour-info-dark);
}
 
p {
    color: var(--colour-dark-variant);
}

.primary {
    color: var(--colour-primary);
}

.success {
    color: var(--colour-success);
}

.danger {
    color: var(--colour-danger);
}
.warning {
    color: var(--colour-warning);
}

/* sytying the asside*/

aside {
    height: 100vh;
    background: none;
}
 aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;

 }

 aside .logo {
    display: flex;
    gap: 0.8rem;
}

 aside .logo img{
    width:2rem;
    height: 2rem;
 }
 aside .close{
    display: none;
 }

 /*.........sidebar_________*/

 aside .sidebar{
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
 }

 aside .sidebar a{
    display: flex;
    color: var(--colour-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
 }

 aside .sidebar a span {
    font-size: 1.6rem;
   transform: all 300ms;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100;
}

aside .sidebar a.active {
    background: var(--colour-light);
    color: var(--colour-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--colour-primary)
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: cal(1rem - 3px);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--colour-danger);
    color: var(--colour-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* main here*/

main{ 
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--colour-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--colour-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--colour-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover  {
    box-shadow: none;

}
main .insights > div span{
    background-color: var(--colour-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--colour-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--colour-danger);
}
main .insights > div.income span {
    background: var(--colour-success);
}

main .insights > div .middle {
    display:  flex;
    align-items: center;
    justify-content: space-between;

}
main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;   
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--colour-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform:  translate(5px, 5px);
    stroke-dasharray:110;
    stroke-dashoffset: 92;

}
main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;

}

main .insights .expenses svg circle{
    stroke-dashoffset: 30;
    stroke-dasharray: 90;
    
}
main .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
    
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .progress {
    position: relative;
}

.progress svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    stroke: var(--colour-primary); /* Adjust the color as needed */
}

/* .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: var(--colour-primary); /* Adjust the color as needed */
} */ */
